{{#section "styles"}}
    <link rel="stylesheet" href="/public/assets/css/movieList/movieList.css">
{{/section}}
<br/>
<div class="container">
    <div class="row">

        <div class="col-2" style="margin-top: 15px;">
            <span class="filter-title">Filters</span>
            <div class="sec1">
                <button class="btn" id="resetBtn" type="button" onclick="resetFilterMovies(true)">
                    Reset
                </button>
                <button class="btn" id="applyBtn" type="button" onclick="applyFilters()">
                    Apply
                </button>


                <div>
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample1"
                            aria-expanded="false" aria-controls="collapseExample">
                        Languages
                    </button>
                    <div class="collapse" id="collapseExample1">
                        {{#each langFilter as |lang|}}
                            <div class="checkbox">
                                <label><input type="checkbox" id="lang-{{getObject lang "name"}}" value="" class="cb"
                                              onclick="filterMovies('language','{{getObject lang
                                                                                            "name"}}')"/>{{getObject
                                        lang "name"}}</label>
                            </div>
                        {{/each}}
                        {{!-- <div>
                            <div class="checkbox">
                                <label><input class="checkboxinput" type="checkbox" value="" class="cb">English</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="cb">Hindi</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="cb">French</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="cb">Japanese</label>
                            </div>
                        </div> --}}
                    </div>
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample2"
                            aria-expanded="false" aria-controls="collapseExample">
                        Genres
                    </button>
                    <div class="collapse" id="collapseExample2">
                        {{#each genreMovies as |genre|}}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""
                                           id="genre-{{getObject genre "name"}}"
                                           class="cb" onclick="filterMovies('genre','{{getObject genre "name"}}')">

                                    {{getObject genre "name"}}
                                </label>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="sec2" id="products">
                <div class="container">
                    <div class="row mt-3">
                        {{#each movies as |movie|}}
                            {{> moviecard movie=(parseJson movie )}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#section "script"}}
    <script type="text/javascript">
        const openMovie = (id) => {
            window.location = `/movies/${id}`
        }

    </script>

    <script src="/public/assets/js/movieFilters/movieFilters.js"></script>
    <script type="text/javascript">
            {{#if clearFilters}}
            resetFilterMovies(false)
            {{else}}
            movieFilter ={{{filters}}}
            handelDefaultFilters()
            {{/if}}
    </script>

{{/section }}